<testSettings>
  <testSetting id="SuiteSettings">{
  "WebDriverSettings": {
    "HubType": {
      "Value": "Internal",
      "ConstrainingTypeName": "Ravitej.Automation.Common.Drivers.CapabilityProviders.HubType"
    },
    "HubUrl": "http://localhost:4444/wd/hub",
    "Browser": {
      "Value": "Chrome",
      "ConstrainingTypeName": "Ravitej.Automation.Common.Config.DriverSession.Browser"
    },
    "BrowserVersion": "*",
    "Platform": {
      "Value": "Windows",
      "ConstrainingTypeName": "Ravitej.Automation.Common.Config.DriverSession.Platform"
    },
    "PlatformVersion": "7",
    "CommandTimeoutSeconds": 120,
    "ImplicitWaitSeconds": 0,
    "ScriptTimeoutSeconds": 10,
    "PageLoadTimeoutSeconds": 60,
    "MaximiseBrowser": true,
    "AdditionalCapabilities": [
      {
        "Id": "Sample",
        "Value": "Sample Value"
      }
    ],
    "DownloadDirectory": "C:\\SeleniumDownloads"
  },
  "ApplicationUnderTestSettings": {
    "Url": "http://www.myapplication.under/test",
    "BasicAuthentication": false,
    "Users": [
      {
        "Username": "user1",
        "Password": "password1"
      },
      {
        "Username": "user2",
        "Password": "password2"
      }
    ],
    "PageElementsIdsToExcludeFromDomComparison": [],
    "DatabaseSettings": {
      "DatabaseServerInstance": null,
      "ApplicationDatabase": null,
      "TestDataDatabase": null
    }
  }
}</testSetting>
</testSettings>