<testSettings>
  <testSetting id="SuiteSettings">{
  "WebDriverSettings": {
    "HubType": {
      "Value": "Internal",
      "ConstrainingTypeName": "Ravitej.Automation.Common.Drivers.CapabilityProviders.HubType"
    },
    "HubUrl": "http://localhost:4445/wd/hub/",
    "Browser": {
      "Value": "Chrome",
      "ConstrainingTypeName": "Ravitej.Automation.Common.Config.DriverSession.Browser"
    },
    "BrowserVersion": "*",
    "Platform": {
      "Value": "Windows",
      "ConstrainingTypeName": "Ravitej.Automation.Common.Config.DriverSession.Platform"
    },
    "PlatformVersion": "*",
    "CommandTimeoutSeconds": 120,
    "ImplicitWaitSeconds": 0,
    "ScriptTimeoutSeconds": 10,
    "PageLoadTimeoutSeconds": 60,
    "MaximiseBrowser": true,
    "AdditionalCapabilities": [
      {
        "Id": "browserstack.user",
        "Value": "ravitejaluru2"
      },
      {
        "Id": "browserstack.key",
        "Value": "NHShh3PdzwLhsp2WRyg8"
      },
      {
        "Id": "browserstack.debug",
        "Value": "true"
      }
    ],
    "DownloadDirectory": "C:\\SeleniumDownloads"
  },
  "ApplicationUnderTestSettings": {
    "Url": "http://www.valtech.com",
    "BasicAuthentication": false,
    "Users": [
      {
        "Username": "user1",
        "Password": "password1"
      },
      {
        "Username": "user2",
        "Password": "password2"
      }
    ],
    "PageElementsIdsToExcludeFromDomComparison": [],
    "DatabaseSettings": {
      "DatabaseServerInstance": null,
      "ApplicationDatabase": null,
      "TestDataDatabase": null
    }
  }
}</testSetting>
  <testSetting id="Valtech.Website.UI.Tests.ValtechTests">{}</testSetting>
</testSettings>